<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="LabStation">
    <listeners>
        <listener class-name="com.biit.labstation.logger.TestListener"/>
    </listeners>

    <test name="LabStation" enabled="true" parallel="none" thread-count="1">
        <groups>
            <run>
                <include name="userManagerDefaultData"/>
                <include name="userManagerBasicUserPermissions"/>
                <include name="userManagerEditorUserPermissions"/>
                <include name="userManagerDuplications"/>
                <include name="login"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.labstation.tests.usermanager.UserManagerIT"/>
            <class name="com.biit.labstation.tests.usermanager.UserManagerBasicUserPermissionsIT"/>
            <class name="com.biit.labstation.tests.usermanager.UserManagerEditorUserPermissionsIT"/>
            <class name="com.biit.labstation.tests.usermanager.UserManagerDuplicationsIT"/>
            <class name="com.biit.labstation.tests.LoginIT"/>
        </classes>
    </test>
</suite>
